body{
    margin: 0;
    padding: 0;
    background-color: #aaa   
}

body {
    background: #fff;
    color: #545454;
    font-family: verdana, sans-serif;
    font-size: 10px;
    margin: 0 auto;
    padding: 2 2 2 ;
}

